<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStatusService" />
                <binding name="BasicHttpBinding_IActivationService" />
                <binding name="BasicHttpBinding_IProductsService" />
                <binding name="BasicHttpBinding_IReportingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ClientServiceDev/ActivationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActivationService"
                contract="WcfServices.ActivationService.IActivationService"
                name="BasicHttpBinding_IActivationService" />
            <endpoint address="http://localhost/MgmtServiceDev/ProductsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductsService"
                contract="WcfServices.ProductsService.IProductsService" name="BasicHttpBinding_IProductsService" />
            <endpoint address="http://localhost/MgmtServiceDev/ReportingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportingService"
                contract="WcfServices.ReportingService.IReportingService"
                name="BasicHttpBinding_IReportingService" />
            <endpoint address="http://localhost/MgmtServiceDev/StatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatusService"
                contract="WcfServices.StatusService.IStatusService" name="BasicHttpBinding_IStatusService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
